.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:#0c071a;
    width: 100%;
}

.navUl {
    display: flex;
    justify-content: flex-end;
    font-family: "Caveat";
    padding: 20px;
    font-size: 25px;
}

.navLi {
    color: rgb(255, 255, 255);
}

